body{
    background-color: rgb(163, 209, 92);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor{
    background-color: rgb(219, 215, 215);
    width: 350px;
    height: 350px;
    margin-top: 5%;
    padding-left: 3%;
    padding-top: 3%; 
    border-radius: 5%;
    text-align: center;
}

.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn button{
    width: 150px;
    height: 25px;
    margin-bottom: 3%;
    border-radius: 10%;
    border: solid 1px rgb(219, 215, 215);
    
}

